.customize-control-repeater-field.accordion-section-title {
	margin: 0 -12px !important;
	border-left: none !important;
	background: #ffffff !important;
	color: #555d66 !important;
}

.customize-control-repeater-field.accordion-section-title:after {
	content: none !important;
}